body {
    background-color: #fff;

  /* 
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal; */
  
  
  }
  
  /* .oswald-heading  {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  } */

  .concert-one-regular {
    color: '#1976d2' !important;
    font-family: "Concert One", sans-serif;
    font-weight: 300 !important;
    font-style: normal;
    font-size:x-large !important;
  }
  